config KTAP
	tristate "a programable dynamic tracing tool for Linux"
	depends on PERF_EVENTS && EVENT_TRACING
	default n
	help
	  KTAP is a new scripting dynamic tracing tool for Linux,
	  it uses a scripting language and lets users trace the
	  Linux kernel dynamically. KTAP is designed to give
	  operational insights with interoperability that allow
	  users to tune, troubleshoot and extend kernel and application.
	  It's similar with Linux Systemtap and Solaris Dtrace.

	  KTAP have different design principles from Linux mainstream
	  dynamic tracing language in that it's based on bytecode,
	  so it doesn't depend upon GCC, doesn't require compiling
	  kernel module for each script, safe to use in production
	  environment, fulfilling the embedded ecosystem's tracing needs.

	  See doc/ for more information.

